**/.DS_Store
.atom/
.dart_tool/
.idea
.vscode/
.packages
.pub/
build/
ios/.generated/
packages
.flutter-plugins

## Subfolders
**/.DS_Store
**/.atom/
**/.dart_tool/
**/.idea
**/.vscode/
**/.packages
**/.pub/
**/build/
**/ios/.generated/
**/packages
**/.flutter-plugins
