<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>438568605081-6te02i8c64ms7dqes0jlf2p3dn9mkr0v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.438568605081-6te02i8c64ms7dqes0jlf2p3dn9mkr0v</string>
	<key>API_KEY</key>
	<string>AIzaSyAwnGAJO3JdPsCYdneIbMXdHmUxSJjYxCE</string>
	<key>GCM_SENDER_ID</key>
	<string>438568605081</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.catbox</string>
	<key>PROJECT_ID</key>
	<string>catbox-f815e</string>
	<key>STORAGE_BUCKET</key>
	<string>catbox-f815e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:438568605081:ios:b78bb64330862e7f</string>
	<key>DATABASE_URL</key>
	<string>https://catbox-f815e.firebaseio.com</string>
</dict>
</plist>